<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.kk.ibikecph"
    android:versionCode="77"
    android:versionName="2.1.1">

    <uses-sdk android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /-->

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:name=".IBikeCPHApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/iBikeCPHTheme.ActionBar"
        tools:replace="android:name">

        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name="com.spoiledmilk.ibikecph.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spoiledmilk.ibikecph.introduction.GreenPathsIntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spoiledmilk.ibikecph.login.LoginSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme"/>
        <activity
            android:name="com.spoiledmilk.ibikecph.map.MapActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar"/>
        <activity
            android:name="com.spoiledmilk.ibikecph.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar"/>
        <activity
            android:name="com.spoiledmilk.ibikecph.login.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar"/>
        <activity
            android:name="com.spoiledmilk.ibikecph.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spoiledmilk.ibikecph.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spoiledmilk.ibikecph.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar" />
        <activity
            android:name="com.spoiledmilk.ibikecph.search.SearchAutocompleteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar" />
        <activity
            android:name="com.spoiledmilk.ibikecph.favorites.FavoritesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar" />
        <activity
            android:name="com.spoiledmilk.ibikecph.IssuesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar"/>
        <activity
            android:name="com.spoiledmilk.ibikecph.login.FacebookProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iBikeCPHTheme.ActionBar"/>
        <activity
            android:name="com.spoiledmilk.ibikecph.TTSSettingsActivity"
            android:label="@string/title_activity_ttssettings"
            android:theme="@style/iBikeCPHTheme.ActionBar" />
        <activity
            android:name="com.spoiledmilk.ibikecph.favorites.FavoritesListActivity"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@style/iBikeCPHTheme.ActionBar" />
        <activity
            android:name="com.spoiledmilk.ibikecph.favorites.AddFavoriteActivity"
            android:label="@string/title_activity_add_favorite"
            android:theme="@style/iBikeCPHTheme.ActionBar" />
        <activity
            android:name="com.spoiledmilk.ibikecph.favorites.EditFavoriteActivity"
            android:label="@string/title_activity_edit_favorite"
            android:theme="@style/iBikeCPHTheme.ActionBar"/>
        
        <service android:name="com.spoiledmilk.ibikecph.BikeLocationService" />
        <service android:name="com.spoiledmilk.ibikecph.BikeActivityService" >
        </service>

        <activity
                android:name="com.spoiledmilk.ibikecph.tracking.TrackingActivity"
                android:label="@string/title_activity_tracking"
                android:theme="@style/iBikeCPHTheme.ActionBar"/>
        <activity
                android:name="com.spoiledmilk.ibikecph.tracking.TrackingWelcomeActivity" />
        <activity
                android:name="com.spoiledmilk.ibikecph.tracking.TrackingSettingsActivity"
                android:label="@string/title_activity_tracking_settings"
                android:theme="@style/iBikeCPHTheme.ActionBar"/>
        <activity
                android:name="com.spoiledmilk.ibikecph.tracking.TrackMapView"
                android:label="@string/title_activity_track_map_view"
                android:theme="@style/iBikeCPHTheme.ActionBar">
        </activity>

        <!--receiver android:name="com.spoiledmilk.ibikecph.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver-->

        <!-- To enable Google Analytics background services -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>
