<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.kk.ibikecph">

    <application
        android:name=".IBikeCPHApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/iBikeCPHTheme.ActionBar"
        tools:replace="android:name">
    </application>

</manifest>
