<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.kk.cykelsuperstier">

    <application
        android:name=".CykelPlanenApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/CykelsuperstierTheme.ActionBar"
        tools:replace="android:name">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".BreakRouteSplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".break_rote.BreakRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".break_rote.TransportationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcceptNewTermsActivity"
            android:label="@string/title_activity_accept_new_terms" />

        <receiver
            android:name=".reminders.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name=".ALARM_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".reminders.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name=".reminders.ResetAlarmsService" />

    </application>


</manifest>
